*::selection {
    background-color: var(--color-accent-200);
}

@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@custom-variant pointer-fine {  @media (pointer: fine) {    @slot;  }}

@theme {
    --font-fancy: "Merriweather", "serif";

    --color-text-50: #fff7e5;
    --color-text-100: #ffefcc;
    --color-text-200: #ffdf99;
    --color-text-300: #ffcf66;
    --color-text-400: #ffbe33;
    --color-text-500: #ffae00;
    --color-text-600: #cc8b00;
    --color-text-700: #996900;
    --color-text-800: #664600;
    --color-text-900: #332300;
    --color-text-950: #1a1100;

    --color-background-50: #f2f2f2;
    --color-background-100: #e6e6e6;
    --color-background-200: #cccccc;
    --color-background-300: #b3b3b3;
    --color-background-400: #999999;
    --color-background-500: #808080;
    --color-background-600: #666666;
    --color-background-700: #4d4d4d;
    --color-background-800: #333333;
    --color-background-900: #1a1a1a;
    --color-background-950: #0d0d0d;

    --color-primary-50: #f5f3ef;
    --color-primary-100: #ece8df;
    --color-primary-200: #d9d0bf;
    --color-primary-300: #c6b99f;
    --color-primary-400: #b3a280;
    --color-primary-500: #9f8a60;
    --color-primary-600: #806f4d;
    --color-primary-700: #605339;
    --color-primary-800: #403726;
    --color-primary-900: #201c13;
    --color-primary-950: #100e0a;

    --color-secondary-50: #eaf0fa;
    --color-secondary-100: #d5e1f6;
    --color-secondary-200: #acc3ec;
    --color-secondary-300: #82a6e3;
    --color-secondary-400: #5988d9;
    --color-secondary-500: #2f6ad0;
    --color-secondary-600: #2655a6;
    --color-secondary-700: #1c407d;
    --color-secondary-800: #132a53;
    --color-secondary-900: #09152a;
    --color-secondary-950: #050b15;

    --color-accent-50: #fdf6e8;
    --color-accent-100: #fbedd0;
    --color-accent-200: #f6dca2;
    --color-accent-300: #f2ca73;
    --color-accent-400: #eeb844;
    --color-accent-500: #e9a616;
    --color-accent-600: #bb8511;
    --color-accent-700: #8c640d;
    --color-accent-800: #5d4309;
    --color-accent-900: #2f2104;
    --color-accent-950: #171102;
}
