@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    line-height: 1.5;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-inter: "Inter", sans-serif;
    --font-plex-mono: "IBM Plex Mono", monospace;
    
    --color-darken: #00000022;
    --color-lighten: #ffffff11;
    
    --color-text-10: #030408;
    --color-text-05: #1a1c22;
    --color-text-00: #30333d;
    
    --color-background-05: #e0e0d4;
    --color-background-00: #c4c4b5;
    --color-background-10: #faf9eb;
    
    --color-accent-10: #f7df1e;

}
